<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contact</title>
  </head>
  <body>
  	
  	<section class="mt-5">
  		<div class="text-center" style="margin-top:100px;">
  			<h1>Welcome To Smart Contact Manager</h1>
	  		<p>A TODO App For Maintaining Your Personal Data </p>
	  		<button type="button" class="btn btn-info">Let's Start</button>
  		</div>
  	</section>
  	
  </body>
</html>